
ANTHROPIC_API_KEY=your-anthropic-key-here
BACKEND_URL=https://your-app.up.railway.app
FRONTEND_URL=https://your-frontend.vercel.app
JWT_EXPIRE_DAYS=1200
SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_JWT_SECRET=your-supabase-jwt-secret
JWT_SECRET_KEY=your-custom-jwt-secret
SUPABASE_SERVICE_KEY=your-supabase-service-key
SUPABASE_URL=https://xxx.supabase.co
SUPABASE_URL=https://fkincmzpteuibbegghti.supabase.co
DATABASE_URL=postgresql://postgres:9u_W%26d%3FA%3F9hbLZE@db.fkincmzpteuibbegghti.supabase.co:5432/postgres
